.chance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chance > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chance > div > p {
  font-size: 16px;
  margin: 0;
}

.chance > div > p:nth-child(2) {
  height: 16px;
}

.chanceBoxUnknown {
  transition: all ease 1s;
  background-color: #424242;
  color: #fff;
  padding: 10px;
  width: 65px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 13px;
}

.chanceBoxRed {
  transition: all ease 1s;
  background-color: red;
  color: #fff;
  padding: 10px;
  width: 65px;
  height: 40px;
  font-size: 22px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.chanceBoxGreen {
  transition: all ease 0.7s;
  color: #fff;
  padding: 10px;
  width: 65px;
  height: 40px;
  font-size: 22px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.shakeIcon {
  animation: shakeIcon 1s forwards;
}

@keyframes shakeIcon {
  0% {
    transform: rotate(-50deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: translateY(0);
  transition: all ease 0.3s;
  background-color: #000c0acc !important;
  z-index: 99999;
}

.popupNot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: translateY(-100%);
  transition: all ease 0.3s;
  background-color: #000c0acc !important;
  z-index: 99999;
}
