.mainChartsArea {
  position: relative;
  border: 1px solid #ccc;
  direction: ltr !important;
  height: 340px;
}

.mainChartsArea path {
  animation: shake infinite 0.5s ease;
}

.blurChart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.blurChart p:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

.blurChart p {
  margin: 0;
}

.noBlur {
  filter: none; /* Removes the blur effect */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
