.header {
  background-color: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid #356e68;
  height: 60px;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header > div > div p {
  font-size: 14px;
  margin: 0;
}

.main {
  padding: 18px 0;
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainCharts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainChartsArea {
  position: relative;
  border: 1px solid #ccc;
  direction: ltr !important;
}

.blurChart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.blurChart p:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

.blurChart p {
  margin: 0;
}

.noBlur {
  filter: none; /* Removes the blur effect */
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footerTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.footerTopChance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  gap: 6px;
  /* padding: 2px 18px; */
  width: 100%;
  max-width: 130px;
  background-color: #00554e;
  font-size: 12px;
  color: #fff;
  height: 28px;
}

.footerVisHead {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ebedef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 2;
  margin-bottom: -10px;
  margin-left: 16px;
  margin-right: -10px;
}

.chanceNumberIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #356e68;
  background-color: #fff;
  max-height: 70px;
  height: 100%;
}

.footerDownQuestion {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.footerDownQuestion p:first-of-type {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(216deg, #00554e 15.13%, #002722 67.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerDownQuestion p:last-of-type {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footerDownQuestion p {
  margin: 0;
}

.submitButton {
  background-color: #002722;
  color: #fff;
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.chanceBoxUnknown {
  background-color: #424242;
  color: #fff;
  padding: 10px;
}

.chanceBoxRed {
  background-color: red;
  color: #fff;
  padding: 10px;
}

.chanceBoxGreen {
  background-color: green;
  color: #fff;
  padding: 10px;
}

.progressBarBox {
  flex: 1;
  height: 14px;
  position: relative;
  overflow: hidden;
  transition: all 0.7s linear;
}

.progressBar {
  background-color: #424242;
  position: relative;
  overflow: hidden;
  transition: all 0.7s linear;
  height: 100%;
}

.footerFinished {
  height: 70px;
  background-color: #fff;
  padding: 10px 18px;
}

.footerFinished button {
  background-color: #00554e;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #00554e;
  width: 100%;
  height: 100%;
}

.chartsIconBoxActive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: fixed;
  bottom: 18%;
  right: 10px;
  z-index: 99;
  transition: all ease 0.3s;
}

.chartsIconBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: fixed;
  bottom: 18%;
  right: 10px;
  z-index: 99;
  transform: translateX(40px);
  transition: all ease 0.3s;
}

.chartsIcon {
  border: 1px solid #a7a7a7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.closeIconBox {
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(0);
  transition: all ease 0.3s;
  z-index: 99;
}
.finishPopupNot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(100%);
  transition: all ease 0.3s;
  z-index: 99;
}

.similarDocsPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(0);
  transition: all ease 0.3s;
  z-index: 99;
}
.similarDocsPopupNot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(100%);
  transition: all ease 0.3s;
  z-index: 99;
}

.moreInfoButton{
  width: 100%;
  background-color: #00554E;
  color: #fff;
  font-weight: 700;
  padding: 15px 0;
  border: 1px solid #00554E;
  font-size: 16px !important;
}