.mainSliderPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #f0f2f5;
}

.mainSlider {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: calc(100% - 120px);
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  gap: 40px;
}

.mainSliderRight {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.mainSliderLeft {
  grid-column: span 6 / span 6;
  border: 1px solid rgba(48, 48, 48, 0.3);
}

.questionBox {
  border: 1px solid rgba(48, 48, 48, 0.3);
  padding: 20px;
}

.questionText {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 700;
}

.questionText p:first-of-type {
  color: #00554e;
}

.answerChioces {
  display: flex;
  gap: 12px;
  /* margin-top: 16px; */
  flex-wrap: wrap;
}

.answerChioces button {
  height: 32px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #a7a7a7;
  color: #000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.activeButton {
  background-color: #00554e !important;
  color: #fff !important;
  border: 1px solid #00554e !important;
  transition: all 0.3s ease-in-out;
}

.buttonGroups {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroups button {
  background-color: #002722;
  border: 1px solid #002722;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  cursor: pointer;
}

.chancePotentialBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.chanceBox {
  border: 1px solid #a7a7a7;
  width: 100%;
  padding: 16px 20px;
}
.potentialBox {
  border: 1px solid #a7a7a7;
  width: 100%;
  padding: 16px 20px;
}

.chanceBox p,
.potentialBox p {
  font-size: 20px;
  font-weight: 700;
}

.progressContainer {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.progressBar::before,
.progressBar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

.progressBar::before {
  clip-path: polygon(0 0, 100% 0, 100% 5%, 0 5%);
}

.progressBar::after {
  clip-path: polygon(100% 0, 100% 100%, 95% 100%, 95% 0);
}
