.startingSlider {
  width: 100%;
  height: 80vh;
  display: flex;
  /* margin: 20px auto; */
  justify-content: center;
  align-items: center;
  /* padding: 80px 0; */
}

.startingSlider > div {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 76px;
  max-height: 560px;
}

.startingSliderRight {
  grid-column: span 8 / span 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.startingSliderLeft {
  grid-column: span 4 / span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingSliderLeft img {
  width: 312px;
  height: 351px;
}

.startingSliderRightHeading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.startingSliderRightHeading p:first-of-type {
  font-size: 26px;
  font-weight: bold;
  background-image: linear-gradient(237deg, #347571 124%, #102625 90%, #346d67 43%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.startingSliderRightHeading p:last-of-type {
  margin: 0;
  font-size: 18px;
}

.startingSliderRightContent {
  margin-top: 24px;
}

.startingSliderRightContent p {
  font-size: 18px;
  line-height: 40px;
  max-width: 680px;
  width: 100%;
}

.startingSliderButton {
  border-radius: 0 !important;
  background-color: #00554e;
  color: #fff;
  font-size: 18px;
  width: 140px;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingSliderButton:hover {
  background-color: #317467 !important;
  color: #fff !important;
  border-color: #317467 !important;
}

.startButton{
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #00554e;
  color: #fff;
  border: 1px solid #00554e;
  cursor: pointer;
}

@media (max-width: 768px) {
  .startingSlider {
    height: 100%;
    margin: 75px auto;
    padding: 0;
  }

  .startingSlider > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 94%;
    margin: 0 auto;
  }

  .startingSliderRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
  }

  .startingSliderLeft {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .startingSliderLeft img {
    width: 136px;
    height: 153px;
    margin: 10px 108px;
  }

  .startingSliderRightHeading {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .startingSliderRightContent {
    margin: 0 24px;
  }

  .startingSliderRightContent p {
    text-align: center;
    font-weight: bold;
    margin-top: 24px;
  }

  .startingSliderButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14px;
  }
}
  