@font-face {
  font-family: "FarhangFanum";
  src: local("FarhangFanum"), url(/fonts/Farhang2FaNum-Regular.woff2) format("truetype");
}

@font-face {
  font-family: "FarhangFanumBold";
  src: local("FarhangFanumBold"), url(/fonts/Farhang2FaNum-Bold.woff2) format("truetype");
}

:root {
  --progress: 0;
  --potential: 0;
  --progress-axis: 0%;
  --reactour-accent: #002722;
  --tour-width: 100%;
}

* {
  box-sizing: border-box !important;
  font-family: FarhangFanum, sans-serif !important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl !important;
  text-align: right !important;
  background-color: #f0f2f5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mainLayout {
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ant-progress-text {
  display: none !important;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  transition: all 0.3s ease-in-out;
}

body
  > main
  > div
  > div
  > div.MainSlider_mainSliderRight__9qLKh
  > div:nth-child(2)
  > div
  > div
  > div.MainSlider_questionBox__SdCjy
  > div.MainSlider_questionBoxRight__IesWe
  > div
  > div
  > div.ant-input-number-handler-wrap {
  opacity: 1;
}

:where(.css-dev-only-do-not-override-1cp2ovx).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #d9d9d9;
}

:where(.css-dev-only-do-not-override-1cp2ovx).ant-slider .ant-slider-track {
  background-color: #00554e !important;
}

:where(.css-dev-only-do-not-override-1cp2ovx).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-1cp2ovx).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-1cp2ovx).ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px #00554e !important;
}

:where(.css-dev-only-do-not-override-1cp2ovx).ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #00554e !important;
}

body
  > main
  > div
  > div
  > div.MainSlider_mainSliderRight__9qLKh
  > div:nth-child(2)
  > div
  > div
  > div.MainSlider_questionBox__SdCjy
  > div.MainSlider_questionBoxRight__IesWe
  > div
  > div.ant-input-number.ant-input-number-rtl.css-dev-only-do-not-override-1cp2ovx {
  border-radius: 0;
  border-color: #d9d9d9 !important;
}

body
  > main
  > div
  > div
  > div.MainSlider_mainSliderRight__9qLKh
  > div:nth-child(2)
  > div
  > div
  > div.MainSlider_questionBox__SdCjy
  > div.MainSlider_questionBoxRight__IesWe
  > div
  > div.ant-input-number.ant-input-number-rtl.css-dev-only-do-not-override-1cp2ovx
  svg {
  color: #999999;
}

.reactour__popover {
  padding: 28px 30px !important;
  left: 20px !important;
  /* width: 100px; */
}

.reactour__popover > span {
  background-color: #002722 !important;
}

.reactour__mask {
  /* width: 100px; */
}

.reactour__mask svg {
  /* width: 200px !important; */
}

.reactour__close-button {
  top: 10px !important;
}

.ticker-view {
  flex-direction: row !important;
  gap: 3px;
  width: 65px;
}

.reactour__close-button {
  display: none !important;
}

@media (min-width: 1024px) {
  .ticker-view {
    width: 28px;
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: -10px; */
  }
}

@media (max-height: 900px) {
  .mainLayout {
    height: 100%;
    /* margin: 40px 0; */
  }
}

@media (max-width: 768px) {
  .mainLayout {
    width: 100%;
    min-width: var(--tour-width);
    height: 100%;
    margin: 0 auto;
  }

  body > main > div {
    width: 100%;
  }
}
