@media (min-width: 1600px) {
  .mainLayout {
    width: calc(100% - 600px) !important;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1599px) {
  .mainLayout {
    width: calc(100% - 260px) !important;
    margin: 0 auto;
  }
}