.footerTopChance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 2px 18px;
  width: 150px;
  background-color: #00554e;
  font-size: 12px;
  color: #fff;
  height: 28px;
}

.answerPopup {
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.answerPopupNot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 100%, 0);
  background-color: #ffff;
  z-index: 100;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}

.closePopupLayout {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000c0acc;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.answerPopupQuestion {
  display: flex;
  flex-direction: column;
  padding: 14px 14px 10px;
}

.answerPopupQuestion p {
  margin: 0;
}
.answerPopupQuestion p:first-child {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(216deg, #00554e 15.13%, #002722 67.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.answerPopupQuestion p:last-child {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

.answerPopupChioces {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 14px;
}

.answerPopupChioces button {
  height: 50px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #a7a7a7;
  color: #000;
}

.answerPopupSubmitButton {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 60px;
  margin: 0 auto 16px;
  background-color: #002722;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 10px;
}

.stickyOnTop {
  margin-top: -30px;
}

.activeButton {
  background-color: #00554e !important;
  color: #fff !important;
  border: 1px solid #00554e !important;
  transition: all 0.3s ease-in-out;
}

.questionNumber {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.questionNumber input {
  width: 100%;
  height: 50px;
  border: 1px solid #a7a7a7;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.questionNumber button {
  font-size: 20px;
  font-weight: bold;
}
