.infoAlertBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 10px;
  border: 1px solid #bbd7f2;
  background: #e5effa;
  width: 100%;
}

.infoAlertBox p {
  margin: 0;
  flex: 1 1 auto;
  font-size: 20px;
}

.infoAlertBox img {
  cursor: pointer;
}

.infoAlertBox img:hover {
  animation: shakeIcon 0.5s ease-in-out alternate;
}

@keyframes shakeIcon {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards; /* adjust the time to match your setTimeout duration */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media (max-width: 1024px) {
  .infoAlertBox p {
    font-size: 16px;
  }
}
