.mainSliderPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: #f0f2f5;
}

.mainSlider {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: calc(100% - 120px);
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  gap: 20px;
}

.mainSliderRight {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 24px;
  width: 100%;
}

.mainSliderLeft {
  padding: 20px;
  grid-column: span 6 / span 6;
  border: 1px solid rgba(48, 48, 48, 0.3);
}

.questionBox {
  border: 1px solid rgba(48, 48, 48, 0.3);
  padding: 20px;
  height: 100%;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 0; */
}

.questionText {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 700;
  overflow: hidden;
}

.questionText p:first-of-type {
  color: #00554e;
}

.answerChioces {
  display: flex;
  gap: 12px;
  /* margin-top: 16px; */
  flex-wrap: wrap;
}

.answerChioces button {
  height: 32px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #a7a7a7;
  color: #000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.activeButton {
  background-color: #00554e !important;
  color: #fff !important;
  border: 1px solid #00554e !important;
  transition: all 0.3s ease-in-out;
}

.buttonGroups {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroups button {
  background-color: #002722;
  border: 1px solid #002722;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  gap: 10px;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
}

.chancePotentialBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
}

.chanceBox {
  border: 1px solid #a7a7a7;
  width: 100%;
  /* width: fit-content; */
  padding: 1rem 1.25rem;
}

.potentialBox {
  border: 1px solid #a7a7a7;
  width: 100%;
  /* width: fit-content; */
  padding: 1rem 1.25rem;
  height: 100%;
}

.chanceBox > p,
.potentialBox > p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.animate {
  animation: fill 0.5s ease forwards;
}

.chartsIconsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.chartIcon {
  border: 1px solid rgba(48, 48, 48, 0.3);
  padding: 36px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color ease 0.3s;
  cursor: pointer;
}

.mainCharts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 26px 0 24px;
}

.mainChartsArea {
  position: relative;
  border: 1px solid #ccc;
  direction: ltr !important;
}

.blurChart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.blurChart p:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

.blurChart p {
  margin: 0;
}

.noBlur {
  filter: none; /* Removes the blur effect */
}

.activeChart {
  background-color: #00554e;
  color: #fff !important;
  transition: background-color ease 0.3s;
  animation: activeChartShake 0.5s ease-in-out alternate;
}

.questionNumber {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.questionNumber input {
  width: 100%;
  height: 50px;
  border: 1px solid #a7a7a7;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.questionNumber button {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

.handleSubmit {
  height: 50px;
  max-height: 50px !important;
}

.slideRight {
  animation: slideRight 0.5s ease-in-out forwards;
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out forwards;
}

.slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
}

.popupBoxAnimation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 12, 10, 0.8);
  z-index: 9;
  width: 100%;
  height: calc(100%g);
  margin: 0 auto;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupBoxAnimationNot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  width: 90%;
  margin: 0 auto;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.similarDocsPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  background-color: rgba(0, 12, 10, 0.8);
  z-index: 100;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.similarDocsPopupNot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  background-color: rgba(0, 12, 10, 0.8);
  z-index: 100;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.videoPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  background-color: rgba(0, 12, 10, 0.8);
  z-index: 100;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.videoPopupNot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  background-color: rgba(0, 12, 10, 0.8);
  z-index: 100;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes activeChartShake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
    transform: scale(0.8);
  }
  100% {
    transform: translateY(0%);
    transform: scale(1);
  }
}
