/* [Object] Modal
 * =============================== */
.add-counter img {
  cursor: pointer !important;
}

.add-counter p {
  cursor: pointer !important;
}

.add-counter p label {
  cursor: pointer !important;
}

.modal-detail-popup-not-active {
  transition: all ease 0.3s;
  transform: translate3d(0, 100%, 0);
  bottom: 0;
  left: 0;
  z-index: 10;
  /* height: 100%; */
  /* width: 100%; */
  background: #fff;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.25s ease;
  z-index: 10;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner__chance {
  top: 0;
}

.modal__inner__chance {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 648px;
  height: 400px;
  margin: auto;
  overflow: auto;
  background: #fff;
  padding: 1em 2em 2em;
  height: fit-content;
}
.modal_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.modal_header_icon_text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal_header h2 {
  font-size: 16px;
}

.modal__close {
  cursor: pointer;
  transition: all ease 0.2s;
}

.modal__close:hover {
  transform: scale(1.1);
  transition: all ease 0.2s;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

.modalBoxInputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 24px;
}

.modalInput {
  width: 100%;
  grid-column: span 6 / span 6;
}

.modal-submit-button {
  width: 100%;
  grid-column: span 6 / span 6;
  background-color: #be3190;
  height: 50px;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 30px;
}

.tableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #d9d9d9;
  width: 70%;
}

.tableBox:last-of-type {
  border: none;
  width: 30%;
}

.tableBoxHeader {
  padding: 0 10px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  width: 100%;
  text-align: right;
}

.tableBoxRows {
  text-align: right;
  width: 100%;
}

.tableBoxRows p {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.tableBoxRows p:last-of-type {
  border: none;
}

.modalButton {
  background-color: #00554e;
  color: #fff;
  width: 125px;
  height: 40px;
  border: 1px solid #00554e;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableValueText {
  font-family: sans-serif !important;
  /* text-align: left; */
  direction: ltr !important;
}

@media screen and (max-width: 768px) {
  .modal__inner__chance {
    width: 90%;
    height: 35%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.modalGroupInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

.textMargin {
  margin: 0 !important;
  padding: 10px;
}

.tableBoxCont {
  border-bottom: 1px solid #999999;
}

.tableBoxCont:last-of-type {
  border: none;
}
