.startingSlider {
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainHero {
  width: calc(100% - 120px);
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  position: relative;
}

.mainHeroRight {
  grid-column: span 6 / span 6;
  padding: 65px 72px 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.mainHeroHeader {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mainHeroHeader p:first-of-type {
  font-size: 40px;
  color: #00554e;
  font-weight: 700;
}

.mainHeroHeader p:last-of-type {
  font-size: 24px;
  font-weight: 600;
}

.mainHeroLeft {
  grid-column: span 6 / span 6;
  position: relative;
}

.mainHeroLeft img {
  width: 100%;
  height: 650px;
  object-position: -120px 70px;
}

.mainHeroInfo {
  font-size: 20px;
  border-bottom: 1px solid rgba(48, 48, 48, 0.05);
  padding-bottom: 20px;
}

.starterMainHero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.starterMainHero > div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.starterMainHero > p {
  font-size: 20px;
  font-weight: bold;
}

.starterMainHero input {
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid rgba(48, 48, 48, 0.3);
  height: 50px;
  max-width: 380px;
  width: 100%;
  outline: none;
}

.starterMainHero button {
  height: 50px;
  border: 1px solid #002722;
  background-color: #002722;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 30px;
  cursor: pointer;
}

.starterMainHero button svg {
  margin-top: -10px;
}

.absoluteBox {
  width: 134px;
  height: 80px;
  position: absolute;
  top: 44%;
  left: 10%;
  background-color: #fff !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 85, 78, 0.2);
  /* padding: 10px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.absoluteText {
  z-index: 2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;  
  background: linear-gradient(252deg, #347571 -24.05%, #102625 10.88%, #346d67 58.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

/* ========================= Animation Slider ================================ */
.floatUsersBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}

.highwaySlider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
}
.highwaySlider .highwayBarrier {
  overflow: hidden;
  position: relative;
}
.highwaySlider .highwayLane {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  margin: 0;
}
.highwaySlider .highwayLane .highwayCar {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 160px !important;
}
@-webkit-keyframes translateinfinite {
  100% {
    transform: translateX(calc(160px * 12));
  }
}

@keyframes translateinfinite {
  100% {
    transform: translateX(calc(160px * 12));
  }
}

@-webkit-keyframes translateinfiniteSecond {
  100% {
    transform: translateX(calc(160px * 12)); /* Reverse direction with a negative value */
  }
}

@keyframes translateinfiniteSecond {
  100% {
    transform: translateX(calc(160px * 12)); /* Reverse direction with a negative value */
  }
}
.slideOption {
  margin-top: 10px;
  overflow: hidden;
}

.infinite .highwayBarrier::before,
.infinite .highwayBarrier::after {
  content: " ";
  position: absolute;
  z-index: 9;
  width: 160px;
  height: 100%;
}
.infinite .highwayBarrier::before {
  top: 0;
  left: 0;
  /* background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%); */
  background: linear-gradient(112deg, #f0f2f5 0%, rgba(240, 242, 245, 0) 100%);
}
.infinite .highwayBarrier::after {
  top: 0;
  right: 0;
  /* background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%); */
  background: linear-gradient(270deg, #f0f2f5 0%, rgba(240, 242, 245, 0) 100%);
}
.infinite .highwayBarrier .highwayLane {
  width: calc(160px * 10);
}
.infinite .highwayBarrier .highwayLane .highwayCar {
  width: 160px;
  -webkit-animation: translateinfinite 25s linear infinite;
  animation: translateinfinite 25s linear infinite;
  background: #fff;
  padding: 10px;
  color: #343434;
  box-shadow: 0px 2px 20px 0px rgba(48, 48, 48, 0.1);
  font-weight: bold;
}

.infinite .highwayBarrier .highwayLane .highwayCarSecond {
  width: 160px;
  -webkit-animation: translateinfiniteSecond 25s linear reverse infinite;
  animation: translateinfiniteSecond 25s linear reverse infinite;
  background: #fff;
  padding: 10px;
  color: #343434;
  box-shadow: 0px 2px 20px 0px rgba(48, 48, 48, 0.1);
  font-weight: bold;
}
.infinite .highwayBarrier .highwayLane .highwayCar .fab {
  font-size: 65px;
}

.progressUsers {
  padding: 12px 9px;
  border: 1px solid #ff5c00;
  color: #ff5c00;
  background: rgba(255, 92, 0, 0.2);
  font-size: 14px;
  font-weight: normal;
}

.progressUsers span {
  font-size: 10px;
  font-weight: normal;
}

.progressUserName {
  flex: 1;
  width: 160px;
  font-size: 16px;
}
