.borderBoxCompeleted {
  width: 32px;
  height: 32px;
  border: 1px solid #00554e;
  position: relative;
  background-color: #00554e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderBoxCompeleted svg {
  color: #fff;

  width: 20px;
  height: 20px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 60px 0;
}

.inner {
  transition: transform 0.2s;
  white-space: nowrap;
}

.card {
  width: 240px;
  margin-right: 10px;
  display: inline-flex;

  /* optional */
  height: 40px;
  /* background-color: #39b1bd; */
  /* color: white; */
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.carouselQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.carouselQuestionsMain {
  display: flex;
  align-items: center;
  gap: 8px;
}

.carouselQuestionsMain p {
  margin: 0;
  font-size: 18px;
}

.borderBoxNow {
  width: 32px;
  height: 32px;
  border: 1px solid #00554e;
  position: relative;
  background-color: #00554e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderBox {
  width: 32px;
  height: 32px;
  border: 1px solid #d9d9d9;
  position: relative;
}

.borderBox span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #d9d9d9;;
}

.hideQuestion {
  opacity: 0.4;
  transition: all ease 0.1s;
}

.hideQuestionText {
  filter: blur(4px);
}

.questionText {
  margin-top: 10px;
  text-align: start;
}

.questionText p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  max-width: 200px;
  white-space: normal;
}

.buttonGroupsQuestions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.buttonGroupsQuestions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: solid 1px #d9d9d9;
}

.questionText {
  margin-top: 10px;
}

.questionNumber {
  font-size: 16px !important;
}

.sliderNext {
  position: absolute;
  left: -18px;
  top: 35%;
  background-color: #fff;
  cursor: pointer;
}

.sliderPrev {
  position: absolute;
  right: -18px;
  top: 35%;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sliderNext{
    position: relative;
  }

  .sliderPrev{
    position: relative;
  }

  .buttonGroupsQuestions{
    margin-bottom: -36px;
  }
  
}